<?php Header("Cache-Control: max-age=3000, must-revalidate"); ?>
<!DOCTYPE html>
<html lang="en" class="no-js">
<head prefix='og: http://ogp.me/ns#'>

	<!-- Add Custom Meta Data -->
	{%block custom_meta%}

	{%endblock%}
	<!-- End Custom Meta Data -->

	<meta property="fb:app_id" content="<<client FB app id>>"/>
	<meta property="fb:page_id" content="<<client FB page id>>"/>
	<meta property="fb:admins" content="<<client FB admins id>>"/>

	<link rel="shortcut icon" type="image/x-icon" href="images/_tt-favicon.png"/>
	<link href='//fonts.googleapis.com/css?family=Lato:100,300,700,900|PT+Serif:400,400italic,700,700italic|Montserrat:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="css/styles-bundle.css" />

	<script src="//code.jquery.com/jquery-2.2.3.min.js"></script>

	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	{%block custom_head%}
	{%endblock%}


</head>
<body>

	<article id="content">

	{%block content%}

		<section id="content-header">
			<img src="images/_defaultImage.jpg" alt="FILL THIS IN">
			<p class="cutline">Cutline goes here. You can remove this tag if you don't feel the lead image needs a cutline</p>
		</section>
		<!-- end contentHeader -->

		<section class="content-well clearfix">

			<header id="story-head">
				<h3>Label, if needed</h3>
				<h1>Main Headline</h1>
				<h2>Deck head goes in this spot here</h2>
			</header>
				<!-- end storyHead -->

				<div class="byline-block">
		    		<p>By <a target="_blank" href="mailto:emailaddresshere">Writer Name</a> | Staff Writer</p>
		    		<p>Published Month Date, Year</p>
					<!-- <p>Updated Month, Date, Year</p> -->
	   			</div>
	    		<!-- end bylineBlock -->

      		<div class="shareComments shareCommentsTop">
				<ul id="share-bar1" class="width-auto-hack"></ul>
			</div>
			<!-- end shareComments -->

			<p class="intro"><span class="dropcap">A</span>n opening paragraph goes here. I love the Weather & Opera section plagiarism Julian Assange syndicated process vs. product curmudgeon, attracting young readers cognitive surplus the audience knows more than I do discuss anonymity WikiLeaks hyperhyperlocal Arianna future scoop, Twitter topples dictators the medium is the message information overload natural-born blogger metered model Colbert bump Julian Assange CTR.</p>

		    <p>column-inch trolls copyboy data visualization AOL afternoon paper shoot a photo attracting young readers, MinnPost but what's the business model Instagram fair use fourth estate morgue writing, The Work of Art in the Age of Mechanical Reproduction audience atomization overcome free as in beer Pictures of Goats section kitchen table of the future masthead.</p>


		    <p>horse-race coverage copyboy the power of the press belongs to the person who owns one data visualization tweet Jeff Jarvis Patch Like button explainer, TechCrunch should isn't a business model copyright Romenesko WordPress Arianna Kindle Single Pictures of Goats section got drudged, gamification put the paper to bed the other longer Book Review The Work of Art in the Age of Mechanical Reproduction open newsroom Foursquare A.J. Liebling.</p>

		    <p>Instagram Quora linkbait people formerly known as the audience bringing a tote bag to a knife fight YouTube RT syndicated the power of the press belongs to the person who owns one, Alberto Ibarguen The Work of Art in the Age of Mechanical Reproduction open newsroom The Weekender the medium is the message Dan Fleckner analog thinking future of context Instagram, David Foster Wallace reporting gutter Aron Pilhofer serendipity This Week in Review he said she said.</p>

<!-- 		    <p class="twitter-tag">Follow writer name on Twitter at <a href="urlhere">@twittertag.</a></p>
 -->

<!-- 			<section class="credits clearfix">
				<p>Author: <a href="mailto:emailaddress">Name</a></p>
				<p>Editor: <a href="mailto:emailaddress">Name</a></p>
				<p>Copy Editor: <a href="mailto:emailaddress">Name</a></p>
				<p>Photos: <a href="mailto:emailaddress">Name</a></p>
				<p>Graphics: <a href="mailto:emailaddress">Name</a></p>
				<p>Designer: <a href="mailto:emailaddress">Name</a></p>
			</section> -->
			<!-- end credits -->

<!-- 			<section class="more clearfix">
				<h5>More from The Dallas Morning News</h5>
				<a class="clearfix" href="#">
					<img src="images/_defaultImage.jpg" alt="Fill this in">
					<h6>Story title goes here</h6>
					<p>Description of the story goes in this spot here</p>
				</a>
				<a class="clearfix" href="#">
					<img src="images/_defaultImage.jpg" alt="Fill this in">
					<h6>Story title goes here</h6>
					<p>Description of the story goes in this spot here</p>
				</a>
				<a class="clearfix" href="#">
					<img src="images/_defaultImage.jpg" alt="Fill this in">
					<h6>Story title goes here</h6>
					<p>Description of the story goes in this spot here</p>
				</a>
			</section> -->
			<!-- end more -->

      		<div class="shareComments">
				<ul id="share-bar2" class="width-auto-hack"></ul>
                <div id="comments"></div>
			</div>
			<!-- end shareComments -->

		</section>
		<!-- end contentWell -->

	{%endblock%}

	</article>
	<div>
	{%block custom_content%}

	{%endblock%}
	</div>
		<script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/scripts-bundle.js"></script>

	{%block custom_foot%}
	{%endblock%}



	{%block custom_social_meta%}
	<script type="text/javascript">
	var storyTitle = "{{tweetText}}",
		storyURL = "{{url}}",
		leadText = "{{shareText}}",
		storyIMG = "{{imgURL}}",
		storyAuthor = "{{authors}}",
		twitterTag = "{{sectionTwitter}}";
	</script>
	{%endblock%}

</body>
</html>
