{%extends 'base.html'%}
{%import 'partials/img.html' as img%}


{%block custom_meta%}
<meta content="{{keywords|join(',')}}" name="keywords" />

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<meta content="{{shareText}}" name="description" />
<title>Tuition Tracker</title>
<meta property="og:url" content="{{url}}" />
<meta property="og:title" content="{{shareTitle}}"/>
<meta property="og:description" content="How much will college really cost? Find out with Tuition Tracker, from The Hechinger Report, The Dallas Morning News and the Education Writers Association" name="description"/>
<meta property="og:image" content="{{imgURL}}"/>
<meta property="og:image:height" content="{{imgHeight}}"/>
<meta property="og:image:width" content="{{imgWidth}}"/>
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@hechingerreport" />
<meta name="twitter:creator" content="@hechingerreport" />
<meta name="twitter:title" content="{{shareTitle}}" />
<meta name="twitter:description" content="{{shareText}}"/>
<meta name="twitter:image" content="{{imgURL}}">

<script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "{{shareTitle}}",
        "url": "{{url}}",
        "thumbnailUrl": "{{imgURL}}",
        "dateCreated": "{{publishDate}}",
        "articleSection": "{{section}}",
        "creator": ["{{authors|join('","')|safe}}"],
        "keywords": ["{{keywords|join('","')|safe}}"]
      }
</script>

<meta property="og:keywords" content="{{keywords|join(',')}}"/>

<meta name="news-keywords" content="{{keywords|join(',')}}"/>
{%endblock%}


{%block custom_head%}
<link rel="canonical" href="{{url}}" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/js/all.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>

</script>

<style>
  body {
    background-color: #f9de86;
  }
</style>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-4160749-12', 'auto');
  ga('send', 'pageview');

</script>
<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '<<EWA or Hechinger FB appId here>>', //change this out with EWA appId
      xfbml: true,
      version: 'v2.5'
    });
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

</script>

{%endblock%}


{%block content%}

<section class="content-well clearfix" id="intro">

  <div class="share-btns" id="twitter-share"></div>
  <div class="share-btns" id="facebook-share"></div>

  <div id="progress-box">
    <header class="your-selections">You&rsquo;ve selected:</header>
    <ul>
      <li class="chosen-state"><i class="fas fa-thumbtack"></i>&nbsp;<span>No selection(s) made</span></li>
      <li class="chosen-degree"><i class="fas fa-graduation-cap"></i>&nbsp; <span>No selection(s) made</span></li>
      <li class="chosen-subject"><i class="fas fa-flask"></i>&nbsp; <span>No selection(s) made</span></li>
      <li class="chosen-type"><i class="fas fa-university"></i>&nbsp; <span>No selection(s) made</span></li>
      <li class="chosen-size"><i class="fas fa-users"></i>&nbsp; <span>No selection(s) made</span></li>
      <li class="chosen-urbanization"><i class="fas fa-tree"></i>&nbsp; <span>No selection(s) made</span></li>
    </ul>
    <header class="your-schools"><span>0</span> matching schools</header>

    <div class="error hide">
      You must select a state.
    </div>
  </div>
  <!--/progress-box-->

  <div id="progress-box-mobile">
    <header class="your-schools"><span>0</span> matching schools</header>

    <div class="error hide">
      You must select a state.
    </div>
  </div>
  <!--/mobile-progress-box-->

  <div id="page-header">

    <img src="./images/_tuition-tracker-logo.png" alt="Tuition Tracker">


    <div id="deck">
      What will you pay in the 2020-21 school year?
    </div>
<!--     <div class="alert-search-container">
      <div class="alert-search alert-search-hidden" role="alert">
        &nbsp;
      </div>
    </div> -->
    <div id="search-bar" class="search-group">
      <div id="results"></div>
      <div class="ui-widget">
        <input id="tags" placeholder="Ex. Florida State University, FSU"/>
    </div>

    <div class="box"><button id="search" class="box"><span>SEARCH</span></button></div>


  </div>
  <!--/page-header-->

</section>
<!--/content-well-->

<section id="second-nav">
  <div id="movie-container">
    <div class="btn selected-btn" data-tab="tab-1"><span>Find</span> <div class="inline-text"> a school</div><i class="fas fa-search"></i></div>
    <div class="btn" data-tab="tab-2"><span>About</span> <div class="inline-text">the tool</div><i class="fas fa-info-circle"></i></div>
    <div class="btn" data-tab="tab-3"><span>Download</span> <div class="inline-text"> the data</div><i class="fas fa-download"></i></div>
  </div>
</section>
<!--/intro-btns-->

<section class="download-section tab-content" id="tab-3">

    <div id="download-data">

      <ul id="download-csvs">
        <a href="data/download/data-dictionary.xlsx"><li><i class="fas fa-file-excel"></i>&nbsp;Data dictionary</li></a>
        <!-- <a href="data/download/all-schools.csv"><li><i class="fas fa-file-excel"></i>&nbsp;All data</li></a> -->
        <br/>
        <a href="data/download/institutions.csv"><li><i class="fas fa-file-excel"></i>&nbsp;Institutional details/enrollment</li></a>
        <a href="data/download/cost-attendance.csv"><li><i class="fas fa-file-excel"></i>&nbsp;Sticker price</li></a>
        <a href="data/download/net-price.csv"><li><i class="fas fa-file-excel"></i>&nbsp;Net price</li></a>
        <a href="data/download/financial-aid.csv"><li><i class="fas fa-file-excel"></i>&nbsp;Financial aid</li></a>
        <a href="data/download/grad-rates.csv"><li><i class="fas fa-file-excel"></i>&nbsp;Graduation rates</li></a>
        <a href="data/download/retention-rates.csv"><li><i class="fas fa-file-excel"></i>&nbsp;Retention rates</li></a>
      </ul>
      <!--/download-csvs-->
      <br/><br/>



    </div>
    <!--/download-data-->


</section>
<!--/download-section-->

<section class="about-section tab-content" id="tab-2">

    <div id="credits">
      <div class="credit">
        <a href="http://hechingerreport.org/"><img src="./images/_hechinger-logo.png" width="200"></a>
      </div>
      <div class="credit-desc">
        <p><strong>Tuition Tracker</strong> is an interactive tool designed to help parents and students compare colleges using data that shows what schools actually cost the year students expect to enroll. </p>
      </div>
    </div>

    

    <div id="methodology">
      <p>
        Students and parents can also compare institutions on graduation rate, which shows the likelihood of a student successfully completing their degree on time — a significant factor in affordability.
      </p>
      <p>Tuition Tracker was relaunched in Fall 2019 to be more forward looking than other tools that show historical data reported by colleges by projecting costs out to the 2020-21 academic year.</p>

      <p>Tuition Tracker uses cookies for optimal performance. Neither Tuition Tracker nor The Hechinger Report retains records of your personal data or answers to income questions.</p>

      <p><strong>To submit questions or report issues with the data, email Pete D'Amato (damato@hechingerreport.org)</strong></p>

      <div class="about-social"><a class="methods-link" href="https://twitter.com/hechingerreport" target="_blank"><i class="fab fa-twitter"></i>&nbsp;Follow <em>The Hechinger Report</em> on Twitter</a></div>

        <strong>DATA &amp; METHODOLOGY:</strong>
        <p>Tuition Tracker is powered by U.S. Department of Education data from IPEDS, the Integrated Postsecondary Education Data System, a service provided by the National Center for Education Statistics. The institutions analyzed are all U.S.-based, degree-granting colleges and universities that have first-time, full-time undergraduates.</p>

        <p>Prices are for first-time, first-year students. The projected prices for each institution were calculated by taking the compound annual growth rate over the period of 2008-09 to 2018-19* using raw IPEDS data, then projecting that rate from the 2018-19 sticker price to the 2020-21 academic year. Institutions without consecutive years of data going back to 2008-09 will not have projected prices. The tool assumes net price will remain the same percentage of sticker price for each income level as it was in 2016-17, the last year that data has been reported for.</p>

        <p>Rates for graduation, retention and percent of students paying sticker price are derived from IPEDS data on first-time, first-year students.</p>

        <p>The data on institutional characteristics, acceptance rate, and enrollment by race/ethnicity and gender below are published as they are provided in IPEDS.</p>

      <p style="font-size:14px">*2018-19 data are considered provisional but have undergone NCES quality control procedures</p>

    </div>
    <!--/methodology-->
    <div class="icon-credit">
      Icons by Amy Morgan, Katya Prokofyeva, Becris, Doub.co, AomAm and Rob Crosswell via The Noun Project.
    </div>
  </section>
  <!--/about-section-->

<form class="progress-trigger search-schools tab-content" id="tab-1">
    <section id="school-map-section" class="form-section">
      <div class="expander-front-page">
      <div id="school-map-section-inner">
      <header class="section-title"><span class="number"><i class="fas fa-thumbtack"></i></span> <span class="text">Where would you like to attend?</span>
        </header>
        <span id="subhead-text">Select one or more states to search</span>

      <div class="map-dropdown">
        <select id="states">
          <option value="" selected>Select a state</option>
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DE">Delaware</option>
          <option value="DC">District of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </select>
        <div class="down-arrow"></div>
      </div>

      <div class="map-container">


        <div id="map">

          {%include "map.html" %}

        </div>


        <!--/map-->
      </div>
      <!--/map-container-->
      </div>
    </div>
    </section>
    <!--/school-map-section-->


    <section id="school-degree-section" class="form-section">
      <div class="expander-front-page">
      <a class="expander-trigger expander-hidden">
      <header class="section-title"><span class="number"><i class="fas fa-graduation-cap"></i></span> <span class="text">What level of degree do you want?</span></header></a>
      <div class="expander-content">
      <div class="checkbox-wrapper">
        <div class="boxes" id="choose-degree">
          <input class="degree chk" type="checkbox" value="4-year" id="box-4">
          <label for="box-4">Four-year degree</label>

          <input class="degree chk" type="checkbox" value="2-year" id="box-5">
          <label for="box-5">Two-year degree</label>

        </div>
      </div>
    </div>
  </div>

    </section>
    <!--/school-degree-section-->
    <section id="school-degree-section" class="form-section">
      <div class="expander-front-page">
      <a class="expander-trigger expander-hidden">
      <header class="section-title"><span class="number"><i class="fas fa-flask"></i></span> <span class="text">What subject(s) are you looking to study?</span></header></a>
      <div class="expander-content">
        <div id="search-bar-subject" class="search-group">
          <div id="results-subject"></div>
          <div class="ui-subject-widget" id="tag-group">
            <input id="input_tagator1" name="input_tagator1"/>
        </div>
      </div>
    </div>

    </section>





    <section id="school-type-section" class="form-section">
      <div class="expander-front-page">
      <a class="expander-trigger expander-hidden">
      <header class="section-title"><span class="number"><i class="fas fa-university"></i></span> <span class="text">Public, private or for-profit colleges?<span class="info-btn" data-tooltip="Public universities and community colleges are controlled by states. Private nonprofit colleges are independent of state control. Private for-profit colleges are accountable to shareholders or are privately held." data-tooltip-position="right">&nbsp;<i class="far fa-question-circle"></i></span></span></header></a>
      <div class="expander-content">
      <div class="checkbox-wrapper">
        <div class="boxes" id="choose-type">
          <input name="school-control" class="type chk" type="checkbox" value="public" id="box-1">
          <label for="box-1">Public</label>

          <input name="school-control" class="type chk" type="checkbox" value="private" id="box-2">
          <label for="box-2">Private nonprofit</label>

          <input name="school-control" class="type chk" type="checkbox" value="for-profit" id="box-3">
          <label for="box-3">Private for-profit</label>
        </div>
      </div>
    </div>
  </div>

    </section>
    <!--/school-type-section-->


    <section id="school-size-section" class="form-section">
      <div class="expander-front-page">
      <a class="expander-trigger expander-hidden">
      <header class="section-title"><span class="number"><i class="fas fa-users"></i></span> <span class="text">How big a school do you want to attend?<span class="info-btn" data-tooltip="Based on total enrollment, including undergrads and graduate students" data-tooltip-position="right">&nbsp;<i class="far fa-question-circle"></i></span></span></header></a>
      <div class="expander-content">
      <div class="checkbox-wrapper">
        <div class="boxes" id="choose-size">
          <input name="school-size" class="size chk" type="checkbox" value="0,5000" id="box-6">
          <label for="box-6">Less than 5,000</label>

          <input name="school-size" class="size chk" type="checkbox" value="5001,10000" id="box-7">
          <label for="box-7">5,000 to 10,000</label>

          <input name="school-size" class="size chk" type="checkbox" value="10001,15000" id="box-8">
          <label for="box-8">10,000 to 15,000</label>
          <input name="school-size" class="size chk" type="checkbox" value="15001,999999" id="box-9">
          <label for="box-9">More than 15,000</label>
        </div>
      </div>
      </div>
    </div>
    </section>
    <section id="school-urbanization-section" class="form-section">
<!--       <div class="expander-front-page">
      <a class="expander-trigger expander-hidden"><header class="section-title"><span class="number"><i class="fas fa-tree"></i></span> <span class="text">What kind of campus do you want to live on?</span></header></a>
      <div class="expander-content">
        <div class="checkbox-wrapper">
          <div class="boxes" id="choose-urbanization">
            <input name="school-urbanization" class="urbanization chk" type="checkbox" value="urban" id="box-10">
            <label for="box-10">Urban</label>

            <input name="school-urbanization" class="urbanization chk" type="checkbox" value="suburban" id="box-11">
            <label for="box-11">Suburban</label>

            <input name="school-urbanization" class="urbanization chk" type="checkbox" value="rural" id="box-12">
            <label for="box-12">Rural</label>
          </div>
        </div>
      </div>
    </div>
 -->
      <div class="filter-search box">
        <button id="filter-search" data-function="find" class="filter-search box"><span>FIND SCHOOLS</span></button>
      </div>

    </section>
    <!--/school-size-section-->



  <div class="form-section" id="school-results">

    <section id="search-results">

      <div class="results-cta">Or select a school below to continue</div>

      <ul class="striped-list" id="schools-list"></ul>

    </section>
    <!--/search-results-->

  </div>
  <!--/school-results-->

</form>
<!--/search-schools-->

<script type="text/javascript">

    // Toggle fixed "progress" box
    function toggleProgressBox(){

        $('#progress-box, #progress-box-mobile').hide();

        const progressTrigger = $(".progress-trigger").offset().top;

        $(window).scroll(function() {
            if ($(window).scrollTop() > progressTrigger)
            {
                $("#progress-box, #progress-box-mobile").slideDown('slow');
                $("#progress-box, #progress-box-mobile").css('position','fixed'); //reached the trigger - show div
            } else {
                $("#progress-box, #progress-box-mobile").slideUp('slow');
            }

        }); // end winndow.scroll
    }
    toggleProgressBox();

</script>

{%endblock%}




{%block custom_foot%}
<script type="text/javascript"></script>

{%endblock%}


{%block custom_social_meta%}
<script type="text/javascript">
  var storyTitle = "{{shareTitle}}", // headline in tweet card
	storyURL = "http://www.tuitiontracker.org",
	leadText = "{{shareText}}", //description in tweet card
	storyIMG = "{{imgURL}}",
	storyAuthor = "{% for author in authors %}{{author}}{{', ' if not loop.last}}{% endfor %}",
	twitterTag = "{{sectionTwitter}}"
</script>
{%endblock%}
