@import './variables.scss';
.fa-angle-up, .fa-angle-down {
  opacity:0;
  margin-right:10px;
}
.button-toggle.add-school {
    background-color:$darkgray;
    position: relative;
    margin: 0 6px 12px 6px;
    width:97%;
    padding: 0px;
    list-style-type: none;
    border-radius:3px;
    font-size:14px;

    &:hover button {
      display: block;
    }

    &.grid {
      display: inline-block;
    }

    button {
      display: none;
      position: absolute;
    }
    span {
      margin-left:6px;
      font-size:16px;
      line-height:46px;
      font-family:'Lato';
    }
  
}

.button-toggle {
  position: relative;
  display: inline-block;
  border: 0;
  border-radius: 6px;
  border-bottom: 3px solid rgba(0,0,0,0.3);
  background: $hechblueinactive;
  color: $white;
  margin: 0 5px;
  padding: 8px 8px 8px 8px;
  font-size: 12px;
  outline: none;
  text-decoration: none;
  width:48%;

  .toggle-icon {
    position: relative;
    font-size: 16px;
  }

  &:active {
    top: 2px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
  }

  &.active {
    color:white;
    background: $hechblue;
  }
  &.active .toggle-icon {
    opacity:1;
  }

  &.large {
    font-size: 14px;
    padding: 12px 24px 12px 50px;

  }

  &.no-icon {
    padding: 8px 20px;
  }

  &.icon-right {
    padding: 8px 43px 8px 20px;

    &.large {
      padding: 12px 50px 12px 24px;
    }
  }
}
